<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCJoMDrQwlzFWhxhLPR0Mk4Zi8VJ-ulME8</string>
	<key>GCM_SENDER_ID</key>
	<string>324145816070</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.miniWhatsapp</string>
	<key>PROJECT_ID</key>
	<string>mini-whatsapp-76d1a</string>
	<key>STORAGE_BUCKET</key>
	<string>mini-whatsapp-76d1a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:324145816070:ios:755cbcddf0d7ceac165987</string>
</dict>
</plist>